/* CSS Klassen für DSA Module vom Studio VTT Bastler */

/*----------------------------------------------------------------*/
/* #region Vorlesetexte */

/* Klasse für Vorlesetexte*/
/*div.readaloud {*/
/*  margin: 25px 0px;*/
/*  padding: 40px 0px;*/
/*  font-style: italic;*/
/*  background-image: url("../images/readaloud-top.webp"),*/
/*    url("../images/readaloud-bottom.webp");*/
/*  background-position: top center, bottom center;*/
/*  background-size: 100%;*/
/*  background-repeat: no-repeat;*/
/*}*/

/* Klasse für Vorlesetexte mit vektor Grafiken */
.readaloud {
  background: url(../images/readaloud/UL.svg) top left no-repeat,
    url(../images/readaloud/line.svg) 38px 20px no-repeat,
    url(../images/readaloud/center.svg) center 18px no-repeat,
    url(../images/readaloud/line.svg) calc(100% - 38px) 20px no-repeat,
    url(../images/readaloud/UR.svg) top right no-repeat,
    url(../images/readaloud/BL.svg) bottom left no-repeat,
    url(../images/readaloud/line.svg) 38px calc(100% - 20px) no-repeat,
    url(../images/readaloud/center.svg) center calc(100% - 18px) no-repeat,
    url(../images/readaloud/line.svg) calc(100% - 38px) calc(100% - 20px)
      no-repeat,
    url(../images/readaloud/BR.svg) bottom right no-repeat;
  background-size: 38px 24px, calc(50% - 65px) 4px, 54px 8px,
    calc(50% - 65px) 4px, 38px 24px, 38px 24px, calc(50% - 65px) 4px, 54px 8px,
    calc(50% - 65px) 4px, 38px 24px;
  padding: 34px 0;
  box-sizing: border-box;
  min-width: 135px;
  margin: 20px 0;
}

/* Klasse vor jeden Vorlesetext mit "Zum Vorlesen oder Nacherzählen:" beginnen zu lassen */
/* TODO: Inject via Javascript to localize text */
.readaloud::before {
  content: "Zum Vorlesen oder Nacherzählen: ";
  font-size: 1.2em;
  font-weight: bold;
}

/* #endregion */

/*----------------------------------------------------------------*/
/* #region Scenetitles */
div.scenetitle {
  border-image: url("../images/scenetitle_v45.webp");
  clear: both;
  border-image-width: 24px;
  border-image-slice: 70 fill;
  margin: 25px 0px;
  padding: 20px 20px 20px 30px;
}

/* Klasse um Scenetitles die mit der DSA5 Klasse chatpaperfield gesetzt werden erweitert werden */
div.scenetitle p {
  font-size: 1.2em;
}
/* #endregion */

/*----------------------------------------------------------------*/
/* #region Alternative DSA Liste */
.vttblist {
  list-style-type: none;
}
.vttblist li {
  width: 100%;
  position: relative;
}
.vttblist li::marker {
  content: none;
}

.vttblist li::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 20px;
  position: absolute;
  left: -20px;
  top: 2px;
  background-image: url("../images/icons/dsalist2.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
/* #endregion */

/*----------------------------------------------------------------*/
/* #region Progressives Maskfield mit vektor Grafiken */
.gmnotes {
  background: url(../images/maskfield/UL.svg) top left no-repeat,
    url(../images/maskfield/line.svg) 57px 9px no-repeat,
    url(../images/maskfield/center.svg) center top no-repeat,
    url(../images/maskfield/line.svg) calc(100% - 57px) 9px no-repeat,
    url(../images/maskfield/UR.svg) top right no-repeat,
    url(../images/maskfield/line.svg) 9px 57px no-repeat,
    url(../images/maskfield/line.svg) calc(100% - 9px) 57px no-repeat,
    url(../images/maskfield/BL.svg) 0 calc(100% - 2px) no-repeat,
    url(../images/maskfield/line.svg) 57px calc(100% - 11px) no-repeat,
    url(../images/maskfield/BR.svg) 100% calc(100% - 2px) no-repeat;
  background-size: 57px 57px, calc(50% - 112px) 4px, 114px 29px,
    calc(50% - 112px) 4px, 57px 57px, 4px calc(100% - 114px),
    4px calc(100% - 114px), 57px 57px, calc(100% - 114px) 4px, 57px 57px;
  padding: 35px 25px 25px 25px;
  box-sizing: border-box;
  min-height: 114px;
  min-width: 114px;
  margin: 20px 0;
}

/* #endregion */
