/*CSS Klassen für DSA Module vom Studio VTT Bastler */

/*Klasse für Vorlesetexte*/
div.readaloud {
		border-top: solid 2px;
		border-bottom: solid 2px;
		padding: 2%;
		border-radius: 4%;
		background: #bea5872e;
}
/*Klasse um fette schrift in Vorlesetexten noch größer zu machen*/
div.readaloud p strong {
	font-size: 1.2em;
}

/*Klasse um Scenetitles die mit der DSA5 Klasse chatpaperfield gesetzt werden erweitert werden*/
div.chatpaperfield.scenetitle p {
	font-size: 1.2em;
}